html { 
  background: url("https://i.imgsafe.org/5c4593a8ce.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
    
}
.header h1 {
  display: inline;
  font-size: 6rem;
  font-family: "Lucida Console", Monaco, monospace;
  color: rgb(215,235,240);
  float: left;
  width: 50%;
  text-align: center;
  margin-top:25%
}

.header .left {
  float:left;
}

.header .right {
  float: right;
}

.footer {
    
}
